// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  font-family: helvetica;
}


.pic {
  border: 1px solid red;
  padding: 5px;
  margin: 5px;
}

.pic  img {
  width: 100%
}
